@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-background font-sans text-dark min-h-screen antialiased;
}

/* Scrollbar elegante */
::-webkit-scrollbar {
	width: 8px;
	background: theme('colors.secondary.500');
}
::-webkit-scrollbar-thumb {
	background: theme('colors.primary.500');
	border-radius: 8px;
}

/* Animación fade-in global */
.fade-in {
	@apply animate-fade-in;
}